{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header mb-3">
        <h1>Stores
            <small>list of stores supported</small>
        </h1>
    </div>
    <div class="list-group mb-3">
        {% for store in stores %}
            <a href="{{ url_for('stores.store_page', store_id=store._id) }}" class="list-group-item list-group-item-action">
                <h4>{{ store.name }}</h4>
                <p>All URLs in this store should start with<strong>{{ store.url_prefix }}</strong></p>
            </a>
        {% endfor %}
    </div>
    {% if session['email'] in config.ADMINS %}
        <a class="btn btn-success" href="{{ url_for('stores.create_store') }}"><span class="fas fa-plus"></span> Create new</a>
    {% endif %}
{% endblock %}